<div id='file-modal'>
  <div class='modal-content-div'>
    <img src='/images/close-icon.png' alt='Close file info window' onclick='toggleModal()' id='close-icon'>
    <h2 id='content-header'></h2>
    <div id='modal-content-body'></div>
    <div id='modal-content-footer'>
    </div>
  </div>
</div>
