<header>
  <div>
    <h1>File Uploader</h1>
  </div>
  <% if (user !== null) { %>
    <form action='/logout' method='post'>
      <button type='submit' name='logout-btn' id='logout-btn'>Logout</button>
    </form>
  <% } %>
</header>