<header>
  <div>
    <a href='/'>
      <h1>File Uploader</h1>
    </a>
  </div>
  <% if (user !== null) { %>
    <form action='/logout' method='post'>
      <button type='submit' name='logout-btn' id='logout-btn'>Logout</button>
    </form>
  <% } %>
</header>