<header>
  <div>
    <h1><%= title %></h1>
    <p>Welcome <%= user %></p>
  </div>
  <form action='/logout' method='post'>
      <button type='submit' name='logout-btn' id='logout-btn'>Logout</button>
  </form>
</header>