<div class='mobile-buttons'>
  <a href='/create_folder'>
      <div class='add-folder-mobile'>
          <img src='/images/add-folder-icon.png' alt='Add new folder'>
      </div>
  </a>
  <a href='<%= add_file_path %>'>
      <div class='add-file-mobile'>
          <img src='/images/add-file-icon.png' alt='Add file'>
      </div>
  </a>
</div>