<%- include('./partials/head') %>
<%- include('./partials/header') %>
    <section class='main'>
        <%- include('./partials/aside') %>

        <div class='list-div'>

        </div>
    </section>



<%- include('./partials/footer') %>