/* 
1. Global
2. Login/ Signup Pages
3. Index/ Folder & File List
4. Error page
5. Media Queries
*/


/*******************************************************/
/********************** 1. Global **********************/
/*******************************************************/
:root {
  --light-primary: #f4f3f3;
  --dark-primary: #dfdfdf;
  --light-secondary: #bfd8d5;
  --dark-secondary: #b1bed5;
  --warning: #ff5733;
  --warning-light: #ff573355;
}

* {
  box-sizing: border-box;
  font-size: 12pt;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
  height: 100%;
  background-color: var(--light-primary);
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--dark-primary);
  box-shadow: 2px 1px 8px 2px var(--dark-primary);
  width: 100%;
  z-index: 10;
}

header form {
  margin: 0;
}

header a {
  text-decoration: none;
  color: #000000;
}

aside {
  display: none;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.user-welcome {
  padding: 1rem;
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

form div {
  margin-bottom: 2rem;
}

.form-div {
  border-radius: 10px;
  background-color: var(--light-primary);
  width: fit-content;
  margin: 2rem 0;
  padding: 2rem 2rem;
}

.input-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-div input {
  border-radius: 5px;
  border: none;
  box-shadow: inset 0px 1px 4px 1px var(--dark-secondary);
  height: 2.5rem;
  padding: 0 10px;
}

.input-div label {
  font-size: 1.3rem;
}

.input-div input:focus {
  outline: solid 2px var(--light-secondary);
}

button {
  width: 80%;
  height: 3rem;
  border: 1px solid var(--dark-secondary);
  background-color: var(--dark-secondary);
  box-shadow: 0px 1px 4px 1px var(--light-secondary);
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--light-secondary);
  box-shadow: 0px 1px 4px 1px var(--dark-secondary);
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
}

button:focus {
  outline: solid 1px var(--dark-secondary);
}

.button-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}

.fullBtn {
  display: none;
}

.mobileBtn {
  border-radius: 100%;
  width: 3rem
}

.mobileBtn img {
  width: 100%;
}

.custom-button-div {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--dark-secondary);
  background-color: var(--dark-secondary);
  box-shadow: 1px 1px 5px #000000;
  width: 150px;
  height: 50px;
}

.custom-button-div:hover {
  background-color: var(--light-secondary);
}

.custom-button-div:active {
  transform: scale(0.9);
}

.custom-button-div a {
  text-decoration: none;
  color: #000000;
  width: 100%;
}

.custom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.custom-button a {
  text-decoration: none;
  color: #000000;
}

footer {
  text-align: center;
  background-color: var(--light-primary);
}

sub {
  font-size: 0.8rem;
}

.right-justify {
  text-align: end;
}

.left-justfity {
  text-align: start;
}


/********************************************************/
/**************** 2. Login/ Signup Pages ****************/
/********************************************************/

.signup-form .button-div * {
  width: 80%;
}

.signup-form .button-div a button {
  width: 100%;
}

.signup-div * {
  margin-top: 4rem;
  font-size: 1.3rem;
}

.signup-div a {
  text-decoration: none;
  color: blue;
}

.signup-form-div,
.upload-form-div {
  width: 80%;
  align-self: center;
}





/**************************************************************/
/**************** 3. Index/ Folder & File List ****************/
/**************************************************************/

.main{
  display: block;
  width: 100%;
}

.addBtn-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 5%;
}

.addBtn-div button {
  min-width: 150px;
}

.addBtn-div img {
  width: 30px;
}

.addBtn {
  height: 40px;
}

.addBtn a {
  width: 100%;
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-list-message {
 margin-top: 20%;
}

.folder-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 100%;
  background-color: var(--light-primary);
}

.list-div {
  margin: 3rem 2rem;
  width: 90%;
}

.list-div div {
  border-bottom: 1px solid var(--dark-primary);
}

.item-row-header {
  display: grid;
  grid-template-columns: 60% repeat(2, 1fr);
  padding-bottom: 1rem;
}

.item-row-header {
  font-weight: 600;
}

.item-row {
  display: grid;
  grid-template-columns: 45% 20% repeat(3, 1fr);
  align-items: center;
  height: 40px;
}

.item-row a {
  text-decoration: none;
  color: #000000;
}

.item-row p {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.item-row img {
  width: 21px;
  margin: 0 5px;
}

.action-icons img:hover {
  width: 25px;
  cursor: pointer;
}

.item-row:hover {
  background-color: var(--dark-primary);
} 

.folder-header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.folder-header-icons img {
  width: 25px;
  cursor: pointer;
  margin-right: 1rem;
}

.folder-header-icons img:hover {
  transform: scale(1.2);
}

.delete-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.delete-form div:not(.button-div){
  margin-left: 2rem;
}


/**************************************************************************/
/*********************** 4. Error Page & Validations **********************/
/**************************************************************************/

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex: 1;
  height: 100%;
  background-color: var(--light-primary);
}

.error-container h1 {
  font-size: 10rem;
}

.error-container h2 {
  font-size: 4rem;
}

.error-container a {
  font-size: 1.8rem;
  text-decoration: none;
  color: #1515ff;
}

.error-container a:hover {
  font-weight: bold;
}

.error-div {
  width: fit-content;
  padding: 1rem;
  border-radius: 2px;
  background-color: var(--warning-light);
  border: 1px solid var(--warning);
  font-weight: 300;
}


/****************************************************************/
/*********************** 5. Media Queries ***********************/
/****************************************************************/


@media screen and (min-width: 427px ) {
  .container {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 10% 80% 10%;
  }

  /* .error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
  } */

  header {
    position: relative;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  aside {
    display: block;
    background-color: var(--light-primary);
  }

  section {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  section h2 {
    padding: 1rem;
  }

  .form-div {
    display: block;
    border-radius: 10px;
    background-color: var(--light-primary);
    width: fit-content;
    margin: 10% 0;
    padding: 2rem 2rem;
    box-shadow: 1px 2px 8px 3px var(--dark-primary);
    border: 1px solid var(--dark-primary);
  }

  .input-div {
    display: flex;
    flex-direction: column;
  }
  
  .input-div input {
    border-radius: 5px;
    border: none;
    box-shadow: inset 0px 1px 4px 1px var(--dark-secondary);
    height: 1.8rem;
    padding: 0 10px;
  }

  .input-div label {
    font-size: 1rem;
  }

  button {
    width: 5rem;
    height: 2rem;
  }

  .button-div {
      flex-direction: row;
      gap: 2rem;
      margin-top: 1rem;
  }

  #logout-btn-mobile {
    display: none;
  }

  .fullBtn {
    display: block
  }

  .mobileBtn * {
    display: none
  }

  .signup-div * {
    margin-top: 1rem;
    font-size: 1rem;
  }

  .signup-form-div,
  .upload-form-div {
    width: fit-content;
  }

  .main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 100%;
  }

  .list-div {
    
  }

  .item-row-header {
    display: grid;
    grid-template-columns: 45% 20% repeat(3, 1fr);
    padding-bottom: 1rem;
  }
  
  
  footer {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}

