/* 
1. Global
2. Login/ Signup Pages

*/


/*******************************************************/
/********************** 1. Global **********************/
/*******************************************************/

* {
  box-sizing: border-box;
  font-size: 12pt;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;

  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid blue;
}

header form {
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-self: center;
  justify-content: center;
}

h1 {
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

form div {
  margin-bottom: 2rem;
}

.form-div {
  border: 1px solid blue;
  border-radius: 10px;
  background-color: antiquewhite;
  width: fit-content;
  margin: 10% 0;
  padding: 1rem 2rem;
}

.input-div {
  display: flex;
  flex-direction: column;
}

button {
  width: 5rem;
  height: 2rem;
}

.button-div {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

footer {
  text-align: center;
}

sub {
  font-size: 0.8rem;
}


/********************************************************/
/**************** 2. Login/ Signup Pages ****************/
/********************************************************/

.signup-div a{
  text-decoration: none;
  color: blue;
}

@media screen and (min-width: 427px ) {
  /* .login-form {
    width: 23rem;
  }
  .signup-form {
    width: 25rem;
  } */
}